node_modules
.env
.git
config.json
reminders.json
uploads/
*.log
data/
*.db
*.db-shm
*.db-wal
*.db-journal
dashUsers.json
warnings.json
stats.json
dashboardConfig.json
permissions.json
reactionRoles.json